 /* || General styles */

body {
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: rgb(35,83,83);/*dark teal*/
}

#about a { /* flatironschoo.com link */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: rgb(35,83,83);/*dark teal*/
  text-decoration: none;
}

#about a:hover { /* flatironschoo.com link */
  opacity: 0.7;
}

a { /* hamburger menu links */
  font-family: 'Molengo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: rgb(35,83,83);/*dark teal*/
}

h1 { /* hi, i'm haley. */
  font-family: 'Molengo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14vh;
  text-align: center;
  color: rgb(63,132,132);/*medium teal*/
}

.typewriter h1 { 
  overflow: hidden; /* content is not revealed until the animation */
  white-space: nowrap; /* keeps the content on a single line */
  margin: 20 auto; /* scrolling effect */
  letter-spacing: .05em; 
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {/* typing effect */
  from { width: 0 }
  to { width: 100% }
}

h2 { /* about */
  font-family: 'Molengo', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  color: rgb(63,132,132);/*medium teal*/
}

section {
  height: 100vh; /*100% viewport height*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home {
  background-color: rgb(204,223,223); /*light blue*/
}

#picture {
  background-color: rgb(204,223,223); /*light blue*/
  background-image: url("./haleywarson.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* parallax scrolling effect */
}

#about {
  margin-left: 20px;
  margin-right: 20px;
  overflow: scroll;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  background-color: rgb(204,223,223); /*light blue*/
}

button a {
  text-decoration: none;
  color: rgb(35,83,83);/*dark teal*/
}

button:hover {
  opacity: 0.7;
}

/* || Header and Main Navigation */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: white;
  box-shadow: 0 0 25px 0 black;
}

header ul {
  padding: 0;
}

header li {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: rgb(35,83,83);/*dark teal*/
  margin-left: 20px;
}

header * {
  display: inline;
  text-decoration: none;
  color: rgb(35,83,83);/*dark teal*/
}

.topnav {
  overflow: hidden;
  background-color: rgb(63,132,132);/*medium teal*/
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: left;
}

.topnav a.icon { /* (hamburger menu) */
  background: rgb(63,132,132); /*medium teal*/
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
    opacity: 0.7;
}

/* (home/logo) */
.active {
  background-color: rgb(35,83,83);/*dark teal*/
  color: white;
}

html { /* smooth scroll to anchor links */
  scroll-behavior: smooth;
}

/* || Footer */

footer {
  text-align: center;
  padding: 25px;
  background-color: rgb(35,83,83);/*dark teal*/
}

footer p {
  color: white;
  font-size: 25px;
  display: inline-block;
}

 [class^="fab"] {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background: rgb(35,83,83);/*dark teal*/
  color: white;
}

[class^="far"] {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background: rgb(35,83,83); /*dark teal*/
  color: white;
}

[class^="fab"]:hover {
  opacity: 0.7;
}

[class^="far"]:hover {
  opacity: 0.7;
}

/* || Responsiveness */

  /* Media Queries: Tablet Landscape */
  @media screen and (max-width: 1060px) {
    #primary { width:100%; }
    #secondary { width:100%; }  
  }
  
  /* Media Queries: Tablet Portrait */
  @media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
  }

  html { font-size:100%; }

  @media (min-width: 640px) { body {font-size:1rem;} } 
  @media (min-width:960px) { body {font-size:1.2rem;} } 
  @media (min-width:1100px) { body {font-size:1.5rem;} }


 /* NOTES:

Colors...
Medium  teal - rgb(63,132,132)
Light blue - rgb(204,223,223) / HEX #CCDFDF 
Dark teal - rgb(35,83,83) / HEX #235353
Black - rgb(33,28,28)
Brown - rgb(131,101,101)

 */

 